header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  color: #FFF;
  padding-top: 4vh;
  padding-bottom: 2vh;
  /* -webkit-box-shadow: 10px 10px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(50, 50, 50, 0.75); */


  /* -webkit-box-shadow: 4px 4px 75px -13px rgba(44,53,158,1);
  -moz-box-shadow: 4px 4px 75px -13px rgba(44,53,158,1);
  box-shadow: 4px 4px 75px -13px rgba(44,53,158,1); */
  /* background-image: linear-gradient(to top, #0e3a63 0%, #0c3d8b 100%); */

}


nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5pc;
}

nav ul li {
  margin-right: 3vw;
  color: #FFF;
  /* font-size: 15pt; */
}

nav ul li:hover {
  color: rgb(65, 189, 178);
}

header img {
  margin-left: 4vw;
} 

#se {
  display: flex;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/search.svg');
  background-repeat: no-repeat;
  padding: 0;
  top: 0;
}

#search {
  margin-right: 4vw;
}

#search input, button {
  padding: 15px;
  outline: none;
  border: none;
}

#search input {
  max-width: 400px;
  width: 300px;
  border-radius: 8px 0px 0px 8px;
}

#search button {
  border-radius: 0px 8px 8px 0px;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
  transition: 0.4s;
  /* max-width: 150px; */
}


#search button:hover {
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}


@media screen and (min-width: 0px) and (max-width: 310px) {
  header {
    display: flex;
    flex-direction: column;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  #search {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #search input {
    width: 200px;
    border-radius: 8px;
  }
  
  #search  button {
    width: 50px;
    margin-top: 20px;
    border-radius: 8px;
  }



}

@media screen and (min-width: 310px) and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    transition: 4ms;
    box-shadow: none;
    padding: 0;
  }
  #search {
    display: flex;
    margin-top: 3vh;
    transition: 4ms;
  }

  #search input {
    width: 200px;
  }

  #search button {
    width: 50px;
  }  

  #logo {
    position: absolute;
    margin: 0 auto;
  }
  header nav ul {
    display: flex;
    margin-top: 3vh; 
    transition: 4ms;
    padding: 0;
    margin-top: 80px;
  }

  /* #header-i img {
    position: absolute;
    margin-top: 10px;
    left: 100px;
  } */

  nav ul li {
    font-size: 15pt;
    margin-bottom: 20px;
    margin-right: 0;
  }

} 

@media screen and (min-width: 600px) and (max-width: 800px) {
  header {
    display: flex;
    flex-direction: column;
  }

  #logo {
    margin: -30px auto;
  }

  nav ul {
    display: flex;
    margin-left: 60px;
  }

  nav ul li {
    margin-right: 30px;
    font-size: 17pt;
    padding: 0px;
    font-weight: bold;
  }


  #search {
    display: flex;
  }

  #search input {
    width: 300px;
  }
}


@media screen and (min-width: 800px) and (max-width: 1000px) {

  header img {
    position: absolute;
    font-size: 20pt;
    left: 15px;
    top: 8px;
    margin: 0;
  }

  nav {
    margin-left: 30px;
  }
  nav ul li {
  margin-right: 30px;
  font-size: 20pt;
  padding: 0;
  }

  #search {
    display: flex;
  }
  #search button {
    width: 40px;
  } 
  #search input {
    width: 300px;
    padding: 0;
  } 
}



@media screen and (min-width: 1000px) and (max-width: 1920px) {

  nav ul {
    margin-left: 20px;
  }
  nav ul li {
    font-size: 17pt;
    padding: none;
    margin-right: 20px;
  }

  #search {
    display: flex;
  }

  #search input {
    width: 220px;
  }

  #search button {
    width: 40px;
  }
}


@media screen and (min-width: 1920px) and (max-width: 2440px) {
  nav ul li {
    font-size: 20pt
  }

  #search {
    display: flex;
  }

  #search input {
    width: 220px;
  }

}

.sub-menu {
  /* display: flex; */
  flex-direction: column;
  position: absolute;
  /* top: 10px; */
  display: none;

}

nav ul li ul li {
  padding: 10px;
  width: 100%;
} 

nav ul li ul li:hover {
  background-color: rgb(7, 29, 126);
}

nav ul li:hover  ul {
  background-color: rgb(31, 80, 170);
  display: flex;
  width: 143px;
}


.sub-menu li {
  font-size: 10pt;
  width: 100%;

}

@media screen and (min-width: 2440px) and (max-width: 2685px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #search {
    display: flex;
  }

  #search input {
    width: 900px;
    padding: 20px;
  }

  #search button {
    /* padding: 20px; */
    width: 50px;
  }
  nav ul li {
    font-size: 40pt;
  }
}